.myLoader{
	width: 100%;
	height:100%;
} 
 .ServiceAddLoader {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background: transparent !important;
	background-color: rgba(0, 0, 0, 0.253);
	 /* background-color: #000000;
  	background-color: rgba(0, 0, 0, 0.253);  */
  }
  .ServiceAddLoader_Inner {
	position: absolute;
	left: 40%;
	right: 40%;
	top: 40%;
	bottom: 47%;
	margin: auto;
	display: block;
  } 
 
 /* ****************************** {First}  ON Error Page **************************************** */ 
  #escapingBallG{
	position:relative;
	width:125px;
	height:43px;
	margin:auto;
}
.escapingBallG{
	background-color:#7a7a7a;
	position:absolute;
	top:0;
	left:0;
	width:33px;
	height:33px;
	border-radius:21px;
		-o-border-radius:21px;
		-ms-border-radius:21px;
		-webkit-border-radius:21px;
		-moz-border-radius:21px;
	animation-name:bounce_escapingBallG;
		-o-animation-name:bounce_escapingBallG;
		-ms-animation-name:bounce_escapingBallG;
		-webkit-animation-name:bounce_escapingBallG;
		-moz-animation-name:bounce_escapingBallG;
	animation-duration:1.5s;
		-o-animation-duration:1.5s;
		-ms-animation-duration:1.5s;
		-webkit-animation-duration:1.5s;
		-moz-animation-duration:1.5s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-timing-function:linear;
		-o-animation-timing-function:linear;
		-ms-animation-timing-function:linear;
		-webkit-animation-timing-function:linear;
		-moz-animation-timing-function:linear;
	animation-delay:0s;
		-o-animation-delay:0s;
		-ms-animation-delay:0s;
		-webkit-animation-delay:0s;
		-moz-animation-delay:0s;
	transform:scale(0.5, 1);
		-o-transform:scale(0.5, 1);
		-ms-transform:scale(0.5, 1);
		-webkit-transform:scale(0.5, 1);
		-moz-transform:scale(0.5, 1);
}

@keyframes bounce_escapingBallG{
	0%{
		left:0px;
		transform:scale(0.5, 1);
	}

	25%{
		left:41px;
		transform:scale(1, 0.5);
	}

	50%{
		left:103px;
		transform:scale(0.5, 1);
	}

	75%{
		left:41px;
		transform:scale(1, 0.5);
	}

	100%{
		left:0px;
		transform:scale(0.5, 1);
	}
}

@-o-keyframes bounce_escapingBallG{
	0%{
		left:0px;
		-o-transform:scale(0.5, 1);
	}

	25%{
		left:41px;
		-o-transform:scale(1, 0.5);
	}

	50%{
		left:103px;
		-o-transform:scale(0.5, 1);
	}

	75%{
		left:41px;
		-o-transform:scale(1, 0.5);
	}

	100%{
		left:0px;
		-o-transform:scale(0.5, 1);
	}
}

@-ms-keyframes bounce_escapingBallG{
	0%{
		left:0px;
		-ms-transform:scale(0.5, 1);
	}

	25%{
		left:41px;
		-ms-transform:scale(1, 0.5);
	}

	50%{
		left:103px;
		-ms-transform:scale(0.5, 1);
	}

	75%{
		left:41px;
		-ms-transform:scale(1, 0.5);
	}

	100%{
		left:0px;
		-ms-transform:scale(0.5, 1);
	}
}

@-webkit-keyframes bounce_escapingBallG{
	0%{
		left:0px;
		-webkit-transform:scale(0.5, 1);
	}

	25%{
		left:41px;
		-webkit-transform:scale(1, 0.5);
	}

	50%{
		left:103px;
		-webkit-transform:scale(0.5, 1);
	}

	75%{
		left:41px;
		-webkit-transform:scale(1, 0.5);
	}

	100%{
		left:0px;
		-webkit-transform:scale(0.5, 1);
	}
}

@-moz-keyframes bounce_escapingBallG{
	0%{
		left:0px;
		-moz-transform:scale(0.5, 1);
	}

	25%{
		left:41px;
		-moz-transform:scale(1, 0.5);
	}

	50%{
		left:103px;
		-moz-transform:scale(0.5, 1);
	}

	75%{
		left:41px;
		-moz-transform:scale(1, 0.5);
	}

	100%{
		left:0px;
		-moz-transform:scale(0.5, 1);
	}
}

/* ****************************** second ***************************** */

.cssload-container {
	width: 117px;
	margin: 60% auto;
}

.cssload-circle-1 {
	height: 117px;
	width: 117px;
	background: rgb(97,46,141);
}

.cssload-circle-2 {
	height: 97px;
	width: 97px;
	background: rgb(194,34,134);
}

.cssload-circle-3 {
	height: 78px;
	width: 78px;
	background: rgb(234,34,94);
}

.cssload-circle-4 {
	height: 58px;
	width: 58px;
	background: rgb(237,91,53);
}

.cssload-circle-5 {
	height: 39px;
	width: 39px;
	background: rgb(245,181,46);
}

.cssload-circle-6 {
	height: 19px;
	width: 19px;
	background: rgb(129,197,64);
}

.cssload-circle-7 {
	height: 10px;
	width: 10px;
	background: rgb(0,163,150);
}

.cssload-circle-8 {
	height: 5px;
	width: 5px;
	background: rgb(22,116,188);
}

.cssload-circle-1,
.cssload-circle-2,
.cssload-circle-3,
.cssload-circle-4,
.cssload-circle-5,
.cssload-circle-6,
.cssload-circle-7,
.cssload-circle-8 {
	border-bottom: none;
	border-radius: 50%;
		-o-border-radius: 50%;
		-ms-border-radius: 50%;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
		-o-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
		-ms-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
		-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
		-moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	animation-name: cssload-spin;
		-o-animation-name: cssload-spin;
		-ms-animation-name: cssload-spin;
		-webkit-animation-name: cssload-spin;
		-moz-animation-name: cssload-spin;
	animation-duration: 4600ms;
		-o-animation-duration: 4600ms;
		-ms-animation-duration: 4600ms;
		-webkit-animation-duration: 4600ms;
		-moz-animation-duration: 4600ms;
	animation-iteration-count: infinite;
		-o-animation-iteration-count: infinite;
		-ms-animation-iteration-count: infinite;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
	animation-timing-function: linear;
		-o-animation-timing-function: linear;
		-ms-animation-timing-function: linear;
		-webkit-animation-timing-function: linear;
		-moz-animation-timing-function: linear;
}



@keyframes cssload-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-spin {
	from {
		-o-transform: rotate(0deg);
	}
	to {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-spin {
	from {
		-ms-transform: rotate(0deg);
	}
	to {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-spin {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-spin {
	from {
		-moz-transform: rotate(0deg);
	}
	to {
		-moz-transform: rotate(360deg);
	}
}

/* ************************************** third ********************* */
.cssload-container{
	position:relative;
}
	
.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
	position: absolute;
	top: 50%;
	left: 50%;
	border: 1px solid rgb(204,204,204);
	border-left-color: rgb(0,0,0);
	border-radius: 974px;
		-o-border-radius: 974px;
		-ms-border-radius: 974px;
		-webkit-border-radius: 974px;
		-moz-border-radius: 974px;
}

.cssload-whirlpool {
	margin: -24px 0 0 -24px;
	height: 49px;
	width: 49px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
	content: "";
	margin: -22px 0 0 -22px;
	height: 43px;
	width: 43px;
	animation: cssload-rotate 1150ms linear infinite;
		-o-animation: cssload-rotate 1150ms linear infinite;
		-ms-animation: cssload-rotate 1150ms linear infinite;
		-webkit-animation: cssload-rotate 1150ms linear infinite;
		-moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
	content: "";
	margin: -28px 0 0 -28px;
	height: 55px;
	width: 55px;
	animation: cssload-rotate 2300ms linear infinite;
		-o-animation: cssload-rotate 2300ms linear infinite;
		-ms-animation: cssload-rotate 2300ms linear infinite;
		-webkit-animation: cssload-rotate 2300ms linear infinite;
		-moz-animation: cssload-rotate 2300ms linear infinite;
}



@keyframes cssload-rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-o-keyframes cssload-rotate {
	100% {
		-o-transform: rotate(360deg);
	}
}

@-ms-keyframes cssload-rotate {
	100% {
		-ms-transform: rotate(360deg);
	}
}

@-webkit-keyframes cssload-rotate {
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@-moz-keyframes cssload-rotate {
	100% {
		-moz-transform: rotate(360deg);
	}
}

/* *************************** fourth ******************************************  */
#fountainTextG{
	width:360px;
	margin: 50% auto;
}

.fountainTextG{
	color:rgb(0,0,0);
	font-family:Arial;
	font-size:38px;
	text-decoration:none;
	font-weight:normal;
	font-style:normal;
	float:left;
	animation-name:bounce_fountainTextG;
		-o-animation-name:bounce_fountainTextG;
		-ms-animation-name:bounce_fountainTextG;
		-webkit-animation-name:bounce_fountainTextG;
		-moz-animation-name:bounce_fountainTextG;
	animation-duration:2.09s;
		-o-animation-duration:2.09s;
		-ms-animation-duration:2.09s;
		-webkit-animation-duration:2.09s;
		-moz-animation-duration:2.09s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.5);
		-o-transform:scale(.5);
		-ms-transform:scale(.5);
		-webkit-transform:scale(.5);
		-moz-transform:scale(.5);
}#fountainTextG_1{
	animation-delay:0.75s;
		-o-animation-delay:0.75s;
		-ms-animation-delay:0.75s;
		-webkit-animation-delay:0.75s;
		-moz-animation-delay:0.75s;
}
#fountainTextG_2{
	animation-delay:0.9s;
		-o-animation-delay:0.9s;
		-ms-animation-delay:0.9s;
		-webkit-animation-delay:0.9s;
		-moz-animation-delay:0.9s;
}
#fountainTextG_3{
	animation-delay:1.05s;
		-o-animation-delay:1.05s;
		-ms-animation-delay:1.05s;
		-webkit-animation-delay:1.05s;
		-moz-animation-delay:1.05s;
}
#fountainTextG_4{
	animation-delay:1.2s;
		-o-animation-delay:1.2s;
		-ms-animation-delay:1.2s;
		-webkit-animation-delay:1.2s;
		-moz-animation-delay:1.2s;
}
#fountainTextG_5{
	animation-delay:1.35s;
		-o-animation-delay:1.35s;
		-ms-animation-delay:1.35s;
		-webkit-animation-delay:1.35s;
		-moz-animation-delay:1.35s;
}
#fountainTextG_6{
	animation-delay:1.5s;
		-o-animation-delay:1.5s;
		-ms-animation-delay:1.5s;
		-webkit-animation-delay:1.5s;
		-moz-animation-delay:1.5s;
}
#fountainTextG_7{
	animation-delay:1.64s;
		-o-animation-delay:1.64s;
		-ms-animation-delay:1.64s;
		-webkit-animation-delay:1.64s;
		-moz-animation-delay:1.64s;
}
@keyframes bounce_fountainTextG{
	0%{
		transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_fountainTextG{
	0%{
		-o-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-o-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_fountainTextG{
	0%{
		-ms-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-ms-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_fountainTextG{
	0%{
		-webkit-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-webkit-transform:scale(.5);
		color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_fountainTextG{
	0%{
		-moz-transform:scale(1);
		color:rgb(0,0,0);
	}

	100%{
		-moz-transform:scale(.5);
		color:rgb(255,255,255);
	}
}


/* ******************************** fifth ************************************* */
.bubblingG {
	text-align: center;
	width:78px;
	height:49px;
	margin: auto;
}

.bubblingG span {
	display: inline-block;
	vertical-align: middle;
	width: 10px;
	height: 10px;
	margin: 24px auto;
	background: rgb(0,0,0);
	border-radius: 49px;
		-o-border-radius: 49px;
		-ms-border-radius: 49px;
		-webkit-border-radius: 49px;
		-moz-border-radius: 49px;
	animation: bubblingG 1.5s infinite alternate;
		-o-animation: bubblingG 1.5s infinite alternate;
		-ms-animation: bubblingG 1.5s infinite alternate;
		-webkit-animation: bubblingG 1.5s infinite alternate;
		-moz-animation: bubblingG 1.5s infinite alternate;
}

#bubblingG_1 {
	animation-delay: 0s;
		-o-animation-delay: 0s;
		-ms-animation-delay: 0s;
		-webkit-animation-delay: 0s;
		-moz-animation-delay: 0s;
}

#bubblingG_2 {
	animation-delay: 0.45s;
		-o-animation-delay: 0.45s;
		-ms-animation-delay: 0.45s;
		-webkit-animation-delay: 0.45s;
		-moz-animation-delay: 0.45s;
}

#bubblingG_3 {
	animation-delay: 0.9s;
		-o-animation-delay: 0.9s;
		-ms-animation-delay: 0.9s;
		-webkit-animation-delay: 0.9s;
		-moz-animation-delay: 0.9s;
}



@keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(0,0,0);
		transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		transform: translateY(-20px);
	}
}

@-o-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(0,0,0);
		-o-transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		-o-transform: translateY(-20px);
	}
}

@-ms-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(0,0,0);
		-ms-transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		-ms-transform: translateY(-20px);
	}
}

@-webkit-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(0,0,0);
		-webkit-transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		-webkit-transform: translateY(-20px);
	}
}

@-moz-keyframes bubblingG {
	0% {
		width: 10px;
		height: 10px;
		background-color:rgb(0,0,0);
		-moz-transform: translateY(0);
	}

	100% {
		width: 23px;
		height: 23px;
		background-color:rgb(255,255,255);
		-moz-transform: translateY(-20px);
	}
}



/* ************************* New Loader Css Apecto Light ON OFF ********************************** */
.apectoNameLoader{
	color: #000000;
    font-size: 2em;
    font-weight: 900;
	letter-spacing: 10px;
	margin: 10% auto;
	text-align: center;
    position: relative;
}
.lds-ripple {
	display: inline-block;
	position: relative;
	width: 64px;
	height: 64px;
	margin: 20% 0% 0% 41%;
  }
  .lds-ripple div {
	position: absolute;
	border: 4px solid rgb(7, 7, 7);
	opacity: 1;
	border-radius: 50%;
	animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
	animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
	0% {
	  top: 28px;
	  left: 28px;
	  width: 0;
	  height: 0;
	  opacity: 1;
	}
	100% {
	  top: -1px;
	  left: -1px;
	  width: 58px;
	  height: 58px;
	  opacity: 0;
	}
  }
/* *******************Spin Box ************************ */
.spinBox {
    margin: 50% auto 0% auto;
    width: 50px;
    height: 50px;
    background: #000;
    -webkit-animation-name: spin;
    -webkit-animation-duration: 2000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 2000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 2000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.spinBoxmy{
	width: 76px;
    height: 73px;
    margin: 50% auto 0% auto;
}
.spinBoxOuter{
	width: 78px;
    height: 75px;
    position: relative;
    display: inline-flex;
}
.spinBox1 {
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 0px 10px 5px 10px;
    margin-top: 30%;
    margin-left: -30%;
}
.spinBox1 .middleDot{
    z-index: 1;
    width: 35px;
    height: 35px;
    background-color: #ffffff;

}
.spinBox2 {
	display: block;
    width: 50px;
    height: 50px;
    background: #000;
    border-radius: 5px 10px 0px 10px;
    position: relative;
}
.spinBox2 .middleDot2{
	display: inline-block;
	z-index: 1;
	width: 35px;
    height: 35px;
	background-color: #ffffff;
	bottom: 0;
	right: 0;
	position: absolute;

}
.middleDot3{
	display: inline-block;
    z-index: 999;
    width: 20px;
    height: 20px;
    background-color: #000000;
    margin-top: 35%;
    margin-left: -26%;
    border-radius: 7px 0px;

}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}


.spinBoxmy {
	height: 73px;
	width: 76px;
	margin: 50% auto 0% auto;
	background-color: #ffffff;
	animation-name: stretch;
	animation-duration: 1.1s; 
	animation-timing-function: ease-out; 
	animation-delay: 0;
	animation-direction: alternate;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
	animation-play-state: running;
  }
  
  @keyframes stretch {
	0% {
	  transform: scale(.3);
	}
	50% {
	  background-color: #ffffff;
	}
	100% {
	  transform: scale(1);
	}
  }

/* ***********************Text CSS **************** */
.cssLoader {
	width: 117px;
	margin: 10% auto;
    position: relative;
}
.cssLoader ul{
	position: absolute;
	top: 50%;
	left: 62%;
	transform:translate(-50%,-50%);
	margin: 0;
	padding: 0;
	display: flex;
  }
.cssLoader ul li{
	list-style: none;
	color:  #000000;
	font-size: 2em;
    font-weight: 900;
    letter-spacing: 10px;
    animation: ani 6s linear infinite;
  }
  @keyframes ani {
	0%{
		color: #000000;
		text-shadow: none;
	}
	60%{
		color: #000000;
		text-shadow: none;
	  }
	100%{
	  color: #ffffff;
	  text-shadow: none;
	}
  }
.cssLoader ul li:nth-child(1){
	animation-delay: 1s;
  }
.cssLoader ul li:nth-child(2){
	animation-delay: 2s;
  }
.cssLoader ul li:nth-child(3){
	animation-delay: 3s;
  }
.cssLoader ul li:nth-child(4){
	animation-delay: 4s;
  }
.cssLoader ul li:nth-child(5){
	animation-delay: 5s;
  }
.cssLoader ul li:nth-child(6){
	animation-delay: 6s;
  }


  /* ***************** CSS LOADER FOR ADD SERVICE IN INNER SIDE OF PAGE  **********************************/
.simpleClock-spinner {
	color: #ffffff;
	display: inline-block;
	position: relative;
	width: 60px;
	height: 50px;
  }
  .simpleClock-spinner div {
	transform-origin: 32px 32px;
	animation: simpleClock-spinner 1.2s linear infinite;
  }
  .simpleClock-spinner div:after {
	content: " ";
	display: block;
	position: absolute;
	top: 17px;
	left: 29px;
	width: 4px;
	height: 10px;
	border-radius: 60%;
	background: rgb(0, 0, 0);
	
  }
  .simpleClock-spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
  }
  .simpleClock-spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
  }
  .simpleClock-spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
  }
  .simpleClock-spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
  }
  .simpleClock-spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
  }
  .simpleClock-spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
  }
  .simpleClock-spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
  }
  .simpleClock-spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
  }
  .simpleClock-spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
  }
  .simpleClock-spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
  }
  .simpleClock-spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
  }
  .simpleClock-spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
  }
  @keyframes simpleClock-spinner {
	0% {
	  opacity: 1;
	}
	100% {
	  opacity: 0;
	}
  }

  /* ***************** END CSS LOADER FOR ADD SERVICE IN INNER SIDE OF PAGE  **********************************/

  /* ************ Rounded css loader round spinner round *********************** */

.roundSpinner {
	border-width: 6px;
	border-style: solid;
	border-color: #000000 #000000 #000000 transparent;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	animation: spin 1.5s infinite;
	position: relative;
	margin: 15% auto;
  }
  .roundSpinner:before, .roundSpinner:after {
	content: '';
	/* width: 8px;
	height: 8px; */
	border-radius: 50%;
	background: #7D5195;
	position: absolute;
	left: 8px;
  }
  .roundSpinner:before {
	top: 8px;
  }
  .roundSpinner:after {
	bottom: 8px;
  }
  
  @keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	  }
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	  }
  }
  @-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	  }
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	  }
  }

  /* Rounded loader with round transparent box  */
.roundSpinnerWithBox,
.roundSpinnerWithBox:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}
.roundSpinnerWithBox {
  margin: 10% auto;
  font-size: 5px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.9em solid rgba(0,0,0, 0.2);
  border-right: 0.9em solid rgba(0,0,0, 0.2);
  border-bottom: 0.9em solid rgba(0,0,0, 0.2);
  border-left: 0.9em solid #000000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Rounded loader with round transparent box margin zero  */
.roundSpinnerWithBoxMarginZero,
.roundSpinnerWithBoxMarginZero:after {
  border-radius: 50%;
  width: 4em;
  height: 4em;
}
.roundSpinnerWithBoxMarginZero {
  margin: 1% auto;
  font-size: 5px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5em solid rgba(0,0,0, 0.2);
  border-right: 0.5em solid rgba(0,0,0, 0.2);
  border-bottom: 0.5em solid rgba(0,0,0, 0.2);
  border-left: 0.5em solid #000000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

 /* Rounded loader White with round transparent box margin zero  */
 .roundSpinnerWithBoxWhiteMarginZero,
 .roundSpinnerWithBoxWhiteMarginZero:after {
   border-radius: 50%;
   width: 4em;
   height: 4em;
 }
 .roundSpinnerWithBoxWhiteMarginZero {
   margin: 1% auto;
   font-size: 8px;
   position: relative;
   text-indent: -9999em;
   border-top: 0.5em solid rgba(233, 233, 233, 0.415);
   border-right: 0.5em solid rgba(233, 233, 233, 0.415);
   border-bottom: 0.5em solid rgba(233, 233, 233, 0.415);
   border-left: 0.5em solid #ffffff;
   -webkit-transform: translateZ(0);
   -ms-transform: translateZ(0);
   transform: translateZ(0);
   -webkit-animation: load8 1.1s infinite linear;
   animation: load8 1.1s infinite linear;
 }
/* ********** Rounded loader with round transparent box in white color for black background ******* */
.roundSpinnerWithBoxWhite,
.roundSpinnerWithBoxWhite:after {
border-radius: 50%;
width: 4em;
height: 4em;
}
.roundSpinnerWithBoxWhite {
margin: 15% auto;
font-size: 8px;
position: relative;
text-indent: -9999em;
border-top: 0.5em solid rgba(233, 233, 233, 0.415);
border-right: 0.5em solid rgba(233, 233, 233, 0.415);
border-bottom: 0.5em solid rgba(233, 233, 233, 0.415);
border-left: 0.5em solid #ffffff;
-webkit-transform: translateZ(0);
-ms-transform: translateZ(0);
transform: translateZ(0);
-webkit-animation: load8 1.1s infinite linear;
animation: load8 1.1s infinite linear;
}